[Unit]
Description=gRPC Machine Control backend
After=weston.service
Wants=weston.service
Requires=network.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'while ! ip addr show dev wlan0 | grep "inet [0-9]"; do sleep 1; done'
ExecStart=flutter-pi --release /usr/share/apps/backend/3.24.0/release/
User=weston
Group=weston
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=WAYLAND_DISPLAY=wayland-1
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target
